// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Import just the styles you need. Note that some stylesheets are required no matter what.
$blue: #1f57ab;

@import "bootstrap/scss/functions"; // Required
@import "bootstrap/scss/variables"; // Required
@import "bootstrap/scss/mixins"; // Required

//
// Override Bootstrap here
//
$grid-gutter-width: 20px;

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

// Customize some defaults
$body-bg: #fff;
$border-radius: .4rem;

$headings-font-weight: bold;
$headings-color: $primary;

$navbar-light-color: $primary;
$navbar-light-hover-color: $primary;
$navbar-light-active-color: $primary;

$btn-font-weight: bold;

$hr-border-color: $primary;

// @import "bootstrap/scss/root";
@import "bootstrap/scss/reboot"; // Required
@import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
// @import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
// @import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/input-group"; // Requires forms
// @import "bootstrap/scss/custom-forms";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar"; // Requires nav
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/jumbotron";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
@import "bootstrap/scss/media";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/utilities";
// @import "bootstrap/scss/print";


//
// Custom styles
//

// Style Bootstrap icons
.bi {
  fill: currentColor;
}

.navbar-light {
  .navbar-toggler {
    margin-left: auto;
  }
  .navbar-nav {
    @include media-breakpoint-up(lg) {
      .nav-item {
        .nav-link {
          padding: 2px 17px;
          border: 1px solid #fff;
          margin: 23px 30px 16px;
          &:hover {
            border-left-color: $primary;
            border-right-color: $primary;
          }
        }
      }
    }
  }
}

.banner {
  min-height: 300px;
  background-image: url('/assets/images/headerImage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;

  @include media-breakpoint-up(lg) {
    min-height: 528px;
  }
}

.btn-outline-primary {
  background-color: #fff;
}

.page-header {
  margin-top: 70px;
  border-top: 1px solid $primary;
  border-bottom: 1px solid $primary;
  padding: 15px 0;
}

@include media-breakpoint-up(lg) {
  .separated-column +.separated-column {
    border-left: 1px solid $primary;
  }
}