$blue: #1f57ab;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
);

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

$grid-gutter-width: 20px;

$enable-gradients: true;
$enable-shadows: true;

$body-bg: #fff;
$border-radius: .4rem;

$headings-font-weight: bold;
$headings-color: $primary;

$navbar-light-color: $primary;
$navbar-light-hover-color: $primary;
$navbar-light-active-color: $primary;

$btn-font-weight: bold;

$hr-border-color: $primary;

@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/media";
@import "bootstrap/scss/close";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/utilities";

.navbar-light {
  .navbar-toggler {
    margin-left: auto;
  }
  .navbar-nav {
    @include media-breakpoint-up(lg) {
      .nav-item {
        .nav-link {
          padding: 2px 17px;
          border: 1px solid #fff;
          margin: 23px 30px 16px;
          &:hover {
            border-left-color: $primary;
            border-right-color: $primary;
          }
        }
      }
    }
  }
}

.banner {
  min-height: 300px;
  background-image: url('../images/headerImage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;

  @include media-breakpoint-up(lg) {
    min-height: 528px;
  }
}

.btn-outline-primary {
  background-color: #fff;
}

.page-header {
  margin-top: 70px;
  border-top: 1px solid $primary;
  border-bottom: 1px solid $primary;
  padding: 15px 0;
}

h2 {
  letter-spacing: 5px;
}

@include media-breakpoint-up(lg) {
  .separated-column +.separated-column {
    border-left: 1px solid $primary;
  }
}

.card.product-card {
  background-color: #f2f2f2;
  border-top: 1px solid $primary;
  border-bottom: 1px solid $primary;
  margin-top: 22px;
  position: relative;
  text-align: center;

  .card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 73px;
    padding: 0 25px;
  }

  .card-image {
    background-repeat: no-repeat;
    background-size: cover;
    height: 130px;
    display: block;
    position: relative;

    .heart {
      $size: 50px;
      width: $size;
      height: $size;
      left: calc(50% - 25px);
      top: calc(50% - 25px);
      position: absolute;
      transition: opacity 0.5s;
      opacity: 0;
    }

    .heart-outlined {
      fill: $primary;
    }

    .heart-filled-white {
      fill: #fff;
    }

    .heart-filled-blue {
      fill: $primary;
      cursor: pointer;

      &.active {
        opacity: 1;
      }
    }

    &:hover {
      .heart-outlined {
        opacity: 1;
      }
      .heart-filled-white {
        opacity: 0.6;
      }
    }
  }

  .card-body {
    padding: 9px 15px 18px;
  }

  h2 {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.2;
    text-transform: uppercase;
  }

  .new-tag {
    position: absolute;
    right: -9px;
    top: -9px;
    width: 65px;
    height: auto;
  }
}